<!DOCTYPE HTML>
<html lang="UTF-8">
<head>
	<meta name="x5-orientation" content="portrait">
	<meta name="browsermode" content="application" />
	<meta name="full-screen" content="yes" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="viewport" content="width=device-width, user-scalable=0, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, viewport-fit=cover">
	<title>积分兑换</title>
	<meta http-equiv="pragma" content="no-cache"/>
	<meta http-equiv="cache-control" content="no-cache"/>
	<meta http-equiv="expires" content="0"/>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
	<link rel="icon" href="https://oss.littlehotspot.com/Html5/favicon.ico">
	<link rel="stylesheet" type="text/css" href="https://oss.littlehotspot.com/Html5/script/jquery/plug-in/artDialog/skins/aero.css" />
	<link rel="stylesheet" type="text/css" href="https://oss.littlehotspot.com/Html5/script/jquery/plug-in/showloading/showLoading.min.css" />
	<link rel="stylesheet" type="text/css" href="https://oss.littlehotspot.com/Html5/script/WeChatSale/pages/mine/exchange.css?v=201908021532" />
	<script type="text/javascript" charset="UTF-8" src="https://oss.littlehotspot.com/Html5/script/plugins/JSON-js-master/json2.js"></script>
	<script type="text/javascript" charset="UTF-8" src="https://oss.littlehotspot.com/Html5/script/plugins/FileSaver/FileSaver.min.js"></script>
	<script type="text/javascript" charset="UTF-8" src="https://oss.littlehotspot.com/Html5/script/my-js/jlNamespace.js?v=201908021532"></script>
	<script type="text/javascript" charset="UTF-8" src="https://oss.littlehotspot.com/Html5/script/jquery/core/1.11.1/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" charset="UTF-8" src="https://oss.littlehotspot.com/Html5/script/jquery/migrate/1.1.1/jquery-migrate-1.1.1.min.js"></script>
	<script type="text/javascript" charset="UTF-8" src="https://oss.littlehotspot.com/Html5/script/jquery/plug-in/artDialog/artDialog.min.js"></script>
	<script type="text/javascript" charset="UTF-8" src="https://oss.littlehotspot.com/Html5/script/jquery/plug-in/showloading/jquery.showLoading.min.js"></script>
	<script type="text/javascript" charset="UTF-8" src="https://oss.littlehotspot.com/Html5/script/my-js/jquery.url.parameters.js"></script>
	<script type="text/javascript" charset="UTF-8" src="https://oss.littlehotspot.com/Html5/script/my-js/StringUtil.js"></script>
	<script type="text/javascript" charset="UTF-8" src="https://oss.littlehotspot.com/Html5/script/my-js/DateUtil.js"></script>
	<script type="text/javascript" charset="UTF-8" src="https://oss.littlehotspot.com/Html5/script/my-js/jquery.ui.Toast-1.0.1.class.js"></script>
	<script type="text/javascript" charset="UTF-8" src="https://res.wx.qq.com/open/js/jweixin-1.3.2.js"></script>
	<script type="text/javascript" charset="UTF-8" src="https://oss.littlehotspot.com/Html5/script/WeChatSale/pages/mine/exchange.js?v=201909261001"></script>
</head>
<body>
<div class="container theme-main">
	<div class='scroll full_width full_height'>
		<volist name="goods" id="ginfo">
			<div class="row" goods-id="{$ginfo.goods_id}" open-id="{$openid}" goods-type="{$ginfo.goods_type}">
				<div class="left">
					<img class="goods-pic" src="{$ginfo.oss_addr}"/>
					<div class="goods-info theme-font4">
						<label class="title full_width">{$ginfo.name}</label>
						<label class="worth full_width">￥{$ginfo.price}</label>
						<label class="expirate full_width">{$ginfo.tips}</label>
					</div>
				</div>
				<div class="right">
					<div class="info">兑换</div>
					<div class="consume theme-font6">{$ginfo.integral}积分</div>
				</div>
			</div>
		</volist>

	</div>
</div>
<pre id="console" class="console"></pre>
</body>
</html>
