<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>微信安全支付</title>
    <script type="text/javascript">
        //调用微信JS api 支付
        function jsApiCall()
        {
            WeixinJSBridge.invoke(
                'getBrandWCPayRequest',
                {$wxpay},
                function(res){
                    if(res.err_msg == "get_brand_wcpay_request:ok"){
                        window.location.href="{$result_url}";
                    }else if(res.err_msg == "get_brand_wcpay_request:fail"){
                        window.location.href="{$prepay_url}"+"?payStatus=fail&payMsg=支付失败,请稍后重试.";
                    }else{
                        window.location.href="{$prepay_url}";
                    }
                }
            );
        }
        window.onload = function(){
            if (typeof WeixinJSBridge == "undefined"){
                if( document.addEventListener ){
                    document.addEventListener('WeixinJSBridgeReady', jsApiCall, false);
                }else if (document.attachEvent){
                    document.attachEvent('WeixinJSBridgeReady', jsApiCall);
                    document.attachEvent('onWeixinJSBridgeReady', jsApiCall);
                }
            }else{
                jsApiCall();
            }
        }
    </script>
</head>
<body>
</html>